@{
    @using Microsoft.Extensions.Localization
    @inject IStringLocalizer<Resource> localizer
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>

<body>
    <ul class="list-inline col-md-2">
        <li>@Html.ActionLink("en","SetCulture","Home",new { culture="en", sourceUrl = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Context.Request) })</li>
        <li>@Html.ActionLink("de", "SetCulture", "Home", new { culture = "de-DE", sourceUrl = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Context.Request) })</li>
        <li>@Html.ActionLink("sr", "SetCulture", "Home", new { culture = "sr", sourceUrl = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Context.Request) })</li>
    </ul>

    @Html.Partial("/Views/_LoginPartial.cshtml")


    <header class="page-header">
        <h1 class="text-primary text-center">@localizer["MainHeading"]</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @localizer["SidebarText"]
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="~/">@localizer["HomePage"]</a></li>
                            <li>@Html.ActionLink(@localizer["AboutUs"], "onama", "home")</li>
                            <li>@Html.ActionLink(@localizer["ContactUs"], "kontakt", "home")</li>
                            <li>@Html.ActionLink(@localizer["AddCar"], "addoglas", "home")</li>
                            @RenderSection("SideBar", false)
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <footer class="row">
        <p class="text-center">@localizer["CopyrightLabel"] <a href="http://www.autooglasi.eu/">@localizer["CarAds"]</a> 2021</p>
    </footer>
</body>
</html>
@RenderSection("Scripts", false)

