@using Mvc_task1.Models
@using Microsoft.Extensions.Localization
@model Mvc_task1.Models.Automobil
@inject IStringLocalizer<Resource> localizer
@{

    ViewBag.Title = "Novi automobil";
    var isedit = Model != null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @localizer["AddCar"]
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(isedit ? "Update" : "Index", "Home", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data"}))
        {
            if (isedit)
            {
                @Html.HiddenFor(m => m.Id)
            }

            <div class="form-group">
                @Html.LabelFor(m => m.Marka)
                @Html.TextBoxFor(m => m.Marka, Model?.Marka, new { @class = "form-control", placeholder = @localizer["CarMark"] })
                @Html.ValidationMessageFor(m => m.Marka, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Foto)
                <input type="file" name="Foto" />
                @if (!string.IsNullOrEmpty(Model?.Foto))
                {
                    <img src="@Url.Content(Model.Foto)" width="150" alt="" />
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Model)
                @Html.TextBoxFor(m => m.Model, Model?.Model, new { @class = "form-control", placeholder = @localizer["CarModel"] })
                @Html.ValidationMessageFor(m => m.Model, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Godiste)
                @Html.TextBoxFor(m => m.Godiste, Model?.Godiste.ToString(), new { @class = "form-control", placeholder = @localizer["CarYear"] })
                @Html.ValidationMessageFor(m => m.Godiste, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ZapreminaMotora)
                @Html.TextBoxFor(m => m.ZapreminaMotora, Model?.ZapreminaMotora.ToString(), new { @class = "form-control", placeholder = @localizer["EngineCapacity"] })
                @Html.ValidationMessageFor(m => m.ZapreminaMotora, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Snaga)
                @Html.TextBoxFor(m => m.Snaga, Model?.Snaga.ToString(), new { @class = "form-control", placeholder = @localizer["Horsepower"] })
                @Html.ValidationMessageFor(m => m.Snaga, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Gorivo)
                @Html.TextBoxFor(m => m.Gorivo, Model?.Gorivo, new { @class = "form-control", placeholder = @localizer["CarFuel"] })
                @Html.ValidationMessageFor(m => m.Gorivo, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Karoserija)
                @Html.TextBoxFor(m => m.Karoserija, Model?.Karoserija, new { @class = "form-control", placeholder = @localizer["CarBody"] })
                @Html.ValidationMessageFor(m => m.Karoserija, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Opis)
                @Html.TextBoxFor(m => m.Opis, Model?.Opis, new { @class = "form-control", placeholder = @localizer["CarDetails"] })
                @Html.ValidationMessageFor(m => m.Opis, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Cena)
                @Html.TextBoxFor(m => m.Cena, Model?.Cena.ToString(), new { @class = "form-control", placeholder = @localizer["CarPrice"] })
                @Html.ValidationMessageFor(m => m.Cena, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Kontakt)
                @Html.TextBoxFor(m => m.Kontakt, Model?.Kontakt, new { @class = "form-control", placeholder = @localizer["SalerContact"] })
                @Html.ValidationMessageFor(m => m.Kontakt, null, new { @class = "text-danger" })
            </div>




            <button class="btn btn-default" type="submit">@(isedit ? @localizer["AdUpdate"] : @localizer["AddButton"])</button>
        }
    </div>
</div>



