@using Mvc_task1.Models
@model Mvc_task1.Models.Automobil
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resource> localizer


@{

    ViewBag.Title = "HomePage";
}



@if (TempData["Marka"] != null)
{
    <p class="alert alert-success">@localizer["SuccessfulInsert"]: @TempData["Marka"]</p>
}

@if (TempData["Izmeni"] != null)
{
<p class="alert alert-success">@localizer["UpdateAd"]: @TempData["Izmeni"]</p>
}

@if (TempData["Obrisano"] != null)
{
<p class="alert alert-success">@localizer["DeleteAd"]: @TempData["Obrisano"]</p>
}



@Html.Partial("_AutoList")


@*@section SideBar {
        <li><a href="#">ZupChe</a></li>


    }*@


